.label {
  padding: 0px 2px 0px 2px;
}

.tooltipText {
  text-align: left;
}

.milestoneLabel {
  background-color: #9c9c9c !important;
  color: white !important;
}
.milestoneLabel:hover {
  background-color: #838383 !important;
}

.isCurrent {
  background-color: #39a5dc !important;
}
.isCurrent:hover {
  background-color: #228bc0 !important;
}

.releaseLabel {
  background-color: #3f9c35 !important;
  color: white !important;
  cursor: default;
}
