/*
 * pnc-dependency-tree
 */
.tree-item {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.sub-title-bar {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sub-title-bar > strong {
  margin-right: 2px;
}

.no-data-text {
  text-align: center;
  color: var(--c--gray--text);
}
