/* extends PF tree view nested items left padding for more nesting levels */
.pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item
  .pf-v6-c-tree-view__list-item {
  --pf-v5-c-tree-view__node--PaddingLeft: calc(
    var(--pf-v5-c-tree-view__node--nested-indent--base) * var(--nesting-level) + var(--pf-v5-c-tree-view__node--indent--base)
  );

  --nesting-level: 11;

  & .pf-v6-c-tree-view__list-item {
    --nesting-level: 12;

    & .pf-v6-c-tree-view__list-item {
      --nesting-level: 13;

      & .pf-v6-c-tree-view__list-item {
        --nesting-level: 14;

        & .pf-v6-c-tree-view__list-item {
          --nesting-level: 15;

          & .pf-v6-c-tree-view__list-item {
            --nesting-level: 16;

            & .pf-v6-c-tree-view__list-item {
              --nesting-level: 17;

              & .pf-v6-c-tree-view__list-item {
                --nesting-level: 18;

                & .pf-v6-c-tree-view__list-item {
                  --nesting-level: 19;

                  & .pf-v6-c-tree-view__list-item {
                    --nesting-level: 20;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
