:root {
  --mock-color: var(--pf-t--color--red--50);
  --experimental-color: var(--pf-t--color--orange--50);
}

.mock-data.box-content {
  border: 2px solid var(--mock-color);
}

.experimental-data.box-content {
  border: 2px solid var(--experimental-color);
}

.mock-data.text-content,
.mock-data.text-content * {
  color: var(--mock-color) !important;
}

.experimental-data.text-content,
.experimental-data.text-content * {
  color: var(--experimental-color) !important;
}
