.button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 33px;

  z-index: 500;
}

/* BUILD BUTTON */

.button-build {
  width: 108px;

  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* TOGGLE BUTTON */

.toggle-button {
  width: 135px;
}

.is-compact .toggle-button {
  width: 45px;
}

.toggle-button :global(.pf-v5-c-menu-toggle__controls) {
  padding: 0 !important;
}

/* DROPDOWN PANEL */

.dropdown-panel {
  width: 220px;
  padding: 13px 15px;

  font-size: 1rem;
}

.dropdown-panel .dropdown-icon-item > div {
  float: left;
}

.dropdown-panel .description-text {
  text-align: center;
}

.divider {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
