.button-start-button {
  z-index: 500;
}

/* BUILD BUTTON */

.build-button {
  width: 108px;

  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.button-start-button--compact .build-button {
  width: 86px;
}

/* DROPDOWN PANEL */

.dropdown-panel {
  width: 220px;
  padding: 13px 15px;

  font-size: 1rem;
}

.dropdown-panel .dropdown-icon-item > div {
  float: left;
}

.dropdown-panel .description-text {
  text-align: center;
}

.divider {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
