.button-build {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dropdown-panel {
  min-width: 220px;
  padding: 5px 15px;
  font-size: 14px;
}

.dropdown-icon-item > div {
  float: left;
}

.description-text {
  text-align: center;
}

.wrapper {
  z-index: 500;
}

.toggle-button-compact {
  padding-left: 0px;
  font-size: var(--pf-global--FontSize--sm);
}

.toggle-button {
  padding: 6px 8px;
  font-size: var(--pf-global--FontSize--sm);
}
