{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 130,
  "importOrder": [
    "base.css",
    "<THIRD_PARTY_MODULES>",
    "^pnc",
    "^/?(((.*)/)*)containers/(.*)$",
    "^/?(((.*)/)*)components/(.*)$",
    "^/?(((.*)/)*)services/(.*)$",
    "^/?(((.*)/)*)utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
