.pnc-build-metrics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pnc-build-metrics-help {
  display: flex;
  justify-content: space-between;

  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;

  font-style: italic;
  color: var(--c--gray--text);
}

.canvas-wrapper {
  padding: var(--global-spacer);
}

.pnc-build-metric-navigation {
  padding: var(--global-spacer);
  padding-top: 0;
}

.pnc-popover-paragraph {
  margin-top: var(--global-gutter);
}
