/*
 * pnc-build-metrics
 */
.pnc-build-metrics {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
}
.pnc-build-metrics .pnc-build-metrics-body {
  position: relative;
  padding: 15px;
  padding-top: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pnc-build-metrics .pnc-build-metrics-help {
  position: absolute;
  top: 1px;
  left: 5px;
  font-style: italic;
  color: rgb(155, 155, 155);
}
.pnc-build-metrics .pnc-build-metrics-help.pnc-build-metrics-help--right {
  right: 5px;
  left: auto;
}
.pnc-build-metrics .loading-status {
  display: none;
  padding-top: 146px;
  min-height: 300px;
  text-align: center;
  line-height: 30px;
}
.pnc-build-metrics .pnc-build-metrics-body .canvas-wrapper {
  padding-top: 20px;
}
.pnc-build-metrics .pnc-build-metric-navigation {
  border: none;
  padding: 8px;
  background-color: #fff;
  height: 50px;
  line-height: 2;
}
.pnc-build-metrics .pnc-build-metric-navigation select {
  background-color: white;
  height: 25px;
  margin: 0 5px;
}
/* popover */
.pnc-build-metrics .popover {
  min-width: 600px; /* Max Width of the popover (depending on the container!) */
}
.pnc-build-metrics .popover .popover-content {
  max-height: 270px;
  overflow-y: auto;
}
.pnc-popover-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pnc-build-metric-info-icon {
  color: var(--pf-v5-global--link--Color);
  text-decoration: var(--pf-v5-global--link--TextDecoration);
}
.pnc-build-metric-info-icon:hover {
  color: var(--pf-v5-global--link--Color--hover);
  text-decoration: var(--pf-v5-global--link--TextDecoration--hover);
}
