.log-viewer-base--fullscreen {
  height: 100vh;
}

.log-viewer-toolbar {
  padding-right: var(--pf-t--global--spacer--sm);
}

.log-viewer-base--fullscreen .log-viewer-toolbar {
  --padding: var(--pf-t--global--spacer--sm);

  padding: var(--padding) calc(var(--padding) * 2) 0;
}

/* PatternFly issue; see NCL-8849 */
/* TODO: remove if fixed by PatternFly */
.log-viewer__line--wrap-lines-off :global(.pf-v6-c-log-viewer__text) {
  white-space: pre !important;
}

.tail-mode-switch {
  padding: 5px 0 20px;
}
