.chart-body {
  position: relative;
  padding: 20px 15px 15px;
  width: 100%;
  height: 100%;
}

.chart-help {
  position: absolute;
  top: 1px;
  left: 5px;
  font-style: italic;
  color: #9b9b9b;
}

.chart-help.chart-help--right {
  right: 5px;
  left: auto;
}

.canvas-wrapper {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover-attribute {
  margin-top: 20px;
  margin-bottom: 20px;
}

.popover-attribute:last-child {
  margin-bottom: 0;
}

.info-icon {
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);
}

.info-icon:hover {
  color: var(--pf-global--link--Color--hover);
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}
