.top-bar {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar--danger {
  background-color: var(--c--danger--background);
  color: var(--c--danger--text-on-background);
}

.top-bar__close-icon--danger {
  color: var(--c--danger--text-on-background);
}

.top-bar--warning {
  background-color: var(--c--warning--background);
  color: var(--c--warning--text-on-background);
}

.top-bar__close-icon--warning {
  color: var(--c--warning--text-on-background);
}

.top-bar--info {
  background-color: var(--c--info--background);
  color: var(--c--info--text-on-background);
}

.top-bar__close-icon--info {
  color: var(--c--info--text-on-background);
}
