.applied-filters {
  margin-top: var(--global-spacer--sm);
}

.filter-attribute-select button {
  width: 200px;
}

.form-input {
  max-width: 250px;
}

.chip-group {
  margin-right: var(--global-gutter);
}

.chip-group-separator {
  font-size: 12px;
  line-height: 24px;
}
