.applied-filters {
  margin-top: 10px;
}

.filter-attribute-select button {
  width: 200px;
}

.form-input {
  max-width: 250px;
}

.chip-group {
  margin-right: 10px;
  margin-bottom: 10px;
}

.chip-group-separator {
  font-size: 12px;
  line-height: 24px;
}
