.chart-box {
  width: 100%;
  height: 100%;
}

.chart-body {
  padding: 0 15px 15px;
  width: 100%;
  height: calc(100% - 26.5px);
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
