.code-editor-wrapper {
  position: relative;
}

.code-editor-shared {
  font-family: monospace;
  font-size: 15px;
  line-height: 1.4;
}

.code-editor-text-area {
  padding-left: 4rem;
  resize: none;
}

.code-editor-line-numbers {
  position: absolute;
  top: 1px;
  overflow-y: hidden;
  width: 3.5rem;
  padding: 5px;
  color: grey;
  text-align: right;
  user-select: none;
}

.code-editor-current-line {
  color: black;
}
