.sort-toggle__title {
  font-weight: var(--pf-v6-c-table__thead--cell--FontWeight);
}

.sort-toggle__icon {
  margin-left: 1rem;

  color: var(--pf-v6-c-table__sort-indicator--Color);
}

.sort-toggle__direction {
  margin-left: 0.5rem;
}

.sort-toggle__title,
.sort-toggle__icon,
.sort-toggle__direction {
  font-size: var(--pf-v6-c-table__thead--cell--FontSize);
}

.sort-toggle:hover .sort-toggle__icon {
  color: var(--pf-v6-c-table__sort__button--hover__sort-indicator--Color);
}

.sort-toggle--active {
  & .sort-toggle__title,
  & .sort-toggle__icon,
  & .sort-toggle__direction {
    color: var(--pf-v6-c-table__sort--m-selected__sort-indicator--Color) !important;
  }
}
