.sort-title {
  color: var(--pf-v5-c-table__sort__button--Color);
  font-weight: var(--pf-v5-c-table--cell--FontWeight);
}

.sort-icon-toggle {
  padding: 0;
}

.sort-icon-title {
  margin-left: 0.5rem;
}

.sort-icon {
  margin-left: 1rem;
  color: var(--pf-v5-c-table__sort-indicator--Color);
}

.sort-group:hover .sort-icon {
  color: var(--pf-v5-c-table__sort__button--hover__sort-indicator--Color);
}

.sort-group-selected .sort-title,
.sort-group-selected .sort-icon-title,
.sort-group-selected .sort-icon {
  color: var(--pf-v5-c-table__sort--m-selected__sort-indicator--Color) !important;
}
