.disabled-content {
  pointer-events: none;
}

.disabled-content a,
.disabled-content button {
  pointer-events: none;
  color: #6a6e73 !important;
}

.disabled-content a:global(.pf-v5-c-button),
.disabled-content button {
  background-color: #d2d2d2 !important;
}

.disabled-content :global(.pf-v5-c-button)::after {
  border-color: transparent !important;
}
