.nested-tabs-item {
  border-top: 1px solid #b8bbbe !important;
  border-left: 1px solid #b8bbbe !important;
}

.nested-tabs-item:first-child {
  border-top-left-radius: 3px;
}

.nested-tabs-item:last-child {
  border-right: 1px solid #b8bbbe !important;
  border-top-right-radius: 3px;
}

.nested-tabs-item button {
  background-color: #ffffff80 !important;
}

:global(.pf-m-current) button {
  background-color: white !important;
}

.nested-tabs-item button::before {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.nested-tabs-item button::after {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}
