.refresh-state-card {
  position: relative;
  pointer-events: none;
}

.refresh-state-card__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  overflow: hidden;
  background-color: var(--c--secondary--background);
}

.refresh-state-card__indicator:before {
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: var(--c--brand--background);
  animation: indicatorAnimation 2s ease-out infinite;
  border-radius: 20px;
}

.refresh-state-card__body {
  opacity: 0.5;
}

@keyframes indicatorAnimation {
  0% {
    left: -40%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 100%;
  }
}
