body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
}

/* Fullscreen background */
::backdrop {
  background-color: #ffffff;
}

/* ====================
   Generics
   ==================== */

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-break-word {
  overflow-wrap: break-word;
}

.gap-0 {
  gap: 0 !important;
}

.gap-5 {
  gap: 5px !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-15 {
  padding: 15px;
}

.p-t-global {
  padding-top: var(--pf-global--spacer--lg);
}

.p-b-global {
  padding-bottom: var(--pf-global--spacer--lg);
}

.p-l-global {
  padding-left: var(--pf-global--spacer--lg);
}

.p-r-global {
  padding-right: var(--pf-global--spacer--lg);
}

.p-global {
  padding: var(--pf-global--spacer--lg);
}

/* ====================
   Global colors
   ==================== */

:root {
  --c-error-primary: var(--pf-global--danger-color--200);
  --c-error-text: white;
  --c-error-close-icon: white;
  --c-error-close-icon-hover: var(--pf-global--Color--light-300);
  --c-warning-primary: var(--pf-global--warning-color--100);
  --c-warning-text: black;
  --c-warning-close-icon: black;
  --c-warning-close-icon-hover: var(--pf-global--palette--black-700);
  --c-info-primary: var(--pf-global--info-color--100);
  --c-info-text: black;
  --c-info-close-icon: black;
  --c-info-close-icon-hover: var(--pf-global--palette--black-700);
}

/* ====================
   PatternFly overrides
   ==================== */

/* 
 * table row highlight on hover 
 */
.pf-c-table tbody tr:hover {
  background-color: #e9e9e9 !important;
}

/* ====================
   PNC Global Styles
   ==================== */

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
.pnc-info-icon {
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);
  padding-left: 5px;
  padding-right: 5px;
}
.pnc-info-icon:hover {
  color: var(--pf-global--link--Color--hover);
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}
.pnc-warning-icon {
  color: #ec7a08;
  text-decoration: var(--pf-global--link--TextDecoration);
  padding-left: 5px;
  padding-right: 5px;
}
.pnc-warning-icon:hover {
  color: #ac5701;
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}
