body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
}

/* Fullscreen background */
::backdrop {
  background-color: #ffffff;
}

/* ====================
   Generics
   ==================== */

.scroll-margin {
  scroll-margin: 20px;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-break-word {
  overflow-wrap: break-word;
}

.visibility-hidden {
  visibility: hidden !important;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.inline-block {
  display: inline-block;
}

.align-items-center {
  align-items: center !important;
}

.gap-0 {
  gap: 0 !important;
}

.gap-5 {
  gap: 5px !important;
}

.gap-10 {
  gap: 10px !important;
}

.m-0 {
  margin: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-t-15 {
  margin: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-global {
  margin: var(--global-gutter) !important;
}

.m-t-global {
  margin-top: var(--global-gutter) !important;
}

.m-b-global {
  margin-bottom: var(--global-gutter) !important;
}

.m-l-global {
  margin-left: var(--global-gutter) !important;
}

.m-r-global {
  margin-right: var(--global-gutter) !important;
}

.b-radius-0 {
  border-radius: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-6 {
  padding: 6px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-global {
  padding: var(--global-spacer);
}

.p-t-global {
  padding-top: var(--global-spacer);
}

.p-b-global {
  padding-bottom: var(--global-spacer);
}

.p-l-global {
  padding-left: var(--global-spacer);
}

.p-r-global {
  padding-right: var(--global-spacer);
}

.full-width {
  width: 100% !important;
}

/* ====================
   Global variables
   ==================== */

:root {
  --c--danger--background: var(--pf-t--global--color--status--danger--default);
  --c--danger--text-on-background: var(--pf-t--global--text--color--status--on-danger--default);
  --c--danger--icon: var(--pf-t--global--icon--color--status--danger--default);
  --c--danger--icon--hover: var(--pf-t--global--icon--color--status--danger--hover);

  --c--warning--background: var(--pf-t--global--color--status--warning--default);
  --c--warning--text-on-background: var(--pf-t--global--text--color--status--on-warning--default);
  --c--warning--icon: var(--pf-t--global--icon--color--status--warning--default);
  --c--warning--icon--hover: var(--pf-t--global--icon--color--status--warning--hover);

  --c--info--background: var(--pf-t--global--color--status--info--default);
  --c--info--text-on-background: var(--pf-t--global--text--color--status--on-info--default);
  --c--info--icon: var(--pf-t--global--icon--color--status--info--default);
  --c--info--icon--hover: var(--pf-t--global--icon--color--status--info--hover);

  --c--disabled--background: var(--pf-t--global--background--color--disabled--default);
  --c--disabled--text-on-background: var(--pf-t--global--text--color--on-disabled);
  --c--disabled--text: var(--pf-t--global--text--color--disabled);
  --c--disabled--icon: var(--pf-t--global--icon--color--disabled);

  --c--gray--text: var(--pf-t--global--text--color--subtle);

  --global-gutter: var(--pf-t--global--spacer--gutter--default); /* outside spacing, typically between boxes - margin, gap */
  --global-spacer: var(--pf-t--global--spacer--lg); /* inside spacing, typically inside boxes - padding */
  --global-spacer--md: var(--pf-t--global--spacer--md);
  --global-spacer--sm: var(--pf-t--global--spacer--sm);
}

/* ====================
   PatternFly overrides
   ==================== */

/* 
 * table row highlight on hover 
 */
.pf-v6-c-table tbody tr:hover {
  background-color: var(--pf-t--global--background--color--secondary--hover) !important;
}

.pf-v6-c-table__tr {
  position: static !important;
}

.pf-v6-c-table__expandable-row-content {
  background: transparent !important;
}

/* ====================
   PNC Global Styles
   ==================== */

.pnc-info-icon {
  color: var(--c--info--icon);
  padding-left: 5px;
  padding-right: 5px;
}

.pnc-info-icon:hover {
  color: var(--c--info--icon--hover);
}

.pnc-warning-icon {
  color: var(--c--warning--icon);
  padding-left: 5px;
  padding-right: 5px;
}

.pnc-warning-icon:hover {
  color: var(--c--warning--icon--hover);
}
