body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
}

/* ====================
   Generics
   ==================== */

.w-70 {
  width: 70%;
}

.m-t-15 {
  margin: 15px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

/* ====================
   PatternFly overrides
   ==================== */

/* 
 * striped table with hover 
 */
.pf-c-table tbody tr:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}
.pf-c-table tbody tr:hover {
  background-color: #d2d2d2;
}

/* ====================
   PNC Global Styles
   ==================== */

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
.pnc-info-icon {
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);
  padding-left: 5px;
  padding-right: 5px;
}
.pnc-info-icon:hover {
  color: var(--pf-global--link--Color--hover);
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}
.pnc-warning-icon {
  color: #ec7a08;
  text-decoration: var(--pf-global--link--TextDecoration);
  padding-left: 5px;
  padding-right: 5px;
}
.pnc-warning-icon:hover {
  color: #ac5701;
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}

.disabled-content {
  pointer-events: none;
  color: #6a6e73;
}
