body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
}

/* ====================
   PatternFly overrides
   ==================== */

/* striped table with hover */
.pf-c-table tbody tr:nth-child(even) {
  background-color: rgb(235, 235, 235);
}
.pf-c-table tbody tr:hover {
  background-color: #d2d2d2;
}
