body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
}

/* ====================
   Generics
   ==================== */

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.w-70 {
  width: 70%;
}

.m-t-15 {
  margin: 15px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-15 {
  padding: 15px;
}

.p-global {
  padding: var(--pf-global--spacer--lg);
}

.bg-w {
  background-color: white;
}

.border-t {
  border-top: 1px solid #f0f0f0;
}

.border-b {
  border-bottom: 1px solid #f0f0f0;
}

/* ====================
   Global colors
   ==================== */

:root {
  --c-error-primary: var(--pf-global--danger-color--200);
  --c-error-text: white;
  --c-error-close-icon: white;
  --c-error-close-icon-hover: var(--pf-global--Color--light-300);
  --c-warning-primary: var(--pf-global--warning-color--100);
  --c-warning-text: black;
  --c-warning-close-icon: black;
  --c-warning-close-icon-hover: var(--pf-global--palette--black-700);
  --c-info-primary: var(--pf-global--info-color--100);
  --c-info-text: black;
  --c-info-close-icon: black;
  --c-info-close-icon-hover: var(--pf-global--palette--black-700);
}

/* ====================
   PatternFly overrides
   ==================== */

/* 
 * striped table with hover 
 */
.pf-c-table tbody tr:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}
.pf-c-table tbody tr:hover {
  background-color: #d2d2d2;
}

/* ====================
   PNC Global Styles
   ==================== */

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
.pnc-info-icon {
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);
  padding-left: 5px;
  padding-right: 5px;
}
.pnc-info-icon:hover {
  color: var(--pf-global--link--Color--hover);
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}
.pnc-warning-icon {
  color: #ec7a08;
  text-decoration: var(--pf-global--link--TextDecoration);
  padding-left: 5px;
  padding-right: 5px;
}
.pnc-warning-icon:hover {
  color: #ac5701;
  text-decoration: var(--pf-global--link--TextDecoration--hover);
}
