.large-font {
  text-align: center;
  color: #757575;
  font-size: var(--pf-global--FontSize--lg);
}

.extra-large-font {
  text-align: center;
  font-size: var(--pf-global--FontSize--4xl);
}

.card-content {
  min-width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
