# https://docs.github.com/en/actions/guides/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '00 03 * * *'
    - cron: '00 11 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Each version of Node.js specified in the node-version array creates a job that runs the same steps.
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: node --version && npm --version
      - run: npm install -g npm@^10.2.5
      - run: npm --version
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm run prettier-check

  clean-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Each version of Node.js specified in the node-version array creates a job that runs the same steps.
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: node --version && npm --version
      - run: npm install -g npm@^10.2.5
      - run: npm --version
      - run: ls
      - run: rm -v package-lock.json
      - run: ls
      - run: npm install
      - run: npm run build

  check-package-lock:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Each version of Node.js specified in the node-version array creates a job that runs the same steps.
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: node --version && npm --version
      - run: npm install -g npm@^10.2.5
      - run: npm --version
      - run: npm install
      - name: Fail if npm install changed package-lock.json
        run: git diff --exit-code package-lock.json

  check-file-extensions:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Each version of Node.js specified in the node-version array creates a job that runs the same steps.
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Fail if .tsx files are contained in wrong directories
        run: |
          lines=$(find src/common src/hooks src/services src/utils -type f -name '*.tsx')
          if echo "$lines" | grep -q '.tsx'; then
            echo ".tsx files are not allowed here:"
            echo "$lines"
            exit 1
          fi
